* {
    margin: 0px;
    padding: 0px;
}

.mainul {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    background-color: rgb(41, 41, 41);
}

.mainul,
.homeul,
.aboutul,
.contactul {
    list-style: none;
}

.mainul>li {
    margin-left: 100px;
}

.homeul,
.aboutul,
.contactul {
    background-color: black;
    display: none;
}

.mainul>li {
    float: left;
}

.homeli:hover .homeul {
    display: block;
}

.aboutli:hover .aboutul {
    display: block;
}

.contactli:hover .contactul {
    display: block;
}