* {
    margin: 0px;
    padding: 0px;
}

.mainul {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    background-color: rgb(41, 41, 41);
}

.mainul>li {
    position: relative;
}

.mainul>li:hover {
    cursor: pointer;
}

.homeul,
.aboutul,
.contactul {
    position: absolute;
}

.mainul,
.homeul,
.aboutul,
.contactul {
    list-style: none;
}

.mainul>li {
    margin-left: 100px;
}

.homeul,
.aboutul,
.contactul {
    background-color: black;
    display: none;
}

.homesubli1:hover,
.homesubli2:hover,
.homesubli3:hover,
.aboutsubli1:hover,
.aboutsubli2:hover,
.aboutsubli3:hover,
.contactsubli1:hover,
.contactsubli2:hover,
.contactsubli3:hover {
    transition-duration: 1s;
    background-color: rgb(129, 129, 129);
}

.mainul>li {
    float: left;
}

.homeli:hover .homeul {
    display: block;
}

.aboutli:hover .aboutul {
    display: block;
}

.contactli:hover .contactul {
    display: block;
}